.add-to-cart-btn {
    background-color: #3c4c5e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .add-to-cart-btn:hover {
    background-color: #345d8a;
  }
  