/* Navbar.css */
.navbar-brand.logo:hover {
    /* Add hover effect to the logo */
    color: #007bff; /* Change color to blue on hover */
  }
  
  .navbar-nav .nav-item .nav-link {
    /* Styles for navbar links */
    transition: color 0.3s; /* Add transition effect */
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    /* Add hover effect to navbar links */
    color: #007bff; /* Change color to blue on hover */
  }
  
  .navbar-nav .nav-item .icon {
    /* Add styles to icons */
    font-size: 1.2rem; /* Increase icon size */
  }
  