.product {
  height: 100%; /* Ensure all cards have the same height */
  transition: transform 0.3s, box-shadow 0.3s; /* Add transition for smooth zoom and box-shadow effects */
}

.product:hover {
  transform: scale(1.05); /* Zoom effect on hover */
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2); /* Box shadow effect on hover */
}

.card-body {
  height: 300px; /* Set a fixed height for the card body */
  overflow-y: auto; /* Enable vertical scrolling for overflow content */
}

.card-text {
  overflow: hidden; /* Hide overflowing text */
}

.card-img-top {
  object-fit: cover; /* Ensure the image fills the card space */
  height: 200px; /* Set a fixed height for the image */
}

.product .btn-primary {
  background-color: #007bff; /* Change the background color of the button to blue */
}

.product .btn-primary:hover {
  background-color: #0056b3; /* Darken the background color of the button on hover */
}
