/* src/Dashboard.css */
.dashboard-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  background-color: #2b2b2c;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.divider {
  border-top: 2px solid #fff; /* Adjust thickness as needed */
  margin-bottom: 15px; /* Optional: Adjust margin for spacing */
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  font-size: 2rem;
}

.sidebar h2 {
  font-size: 1.5rem;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

h5 {
  margin-bottom: 15px;
}

.sidebar ul li {
  margin-bottom: 1rem;
  /* Increased margin for better spacing */
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  transition: color 0.3s, background-color 0.3s; /* Smooth transition effect */
  border-radius: 5px; /* Rounded corners */
  padding: 8px 12px; /* Padding */
}

.sidebar ul li a:hover {
  color: #356ba8; /* Change the color on hover */
  background-color: #ffffff; /* Change the background color on hover */
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.icon {
  font-size: 1.2rem;
}

.logout {
  margin-top: auto;
}

.logout a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  transition: color 0.3s, background-color 0.3s; /* Smooth transition effect */
  border-radius: 5px; /* Rounded corners */
  padding: 8px 12px; /* Padding */
}

.logout a:hover {
  color: #356ba8; /* Change the color on hover */
  background-color: #ffffff; /* Change the background color on hover */
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
  }

  .content {
    padding: 10px;
  }
}