/* App.css */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .gradient-bg {
    background: linear-gradient(to bottom right, #4e54c8, #8f94fb);
    flex: 1;
  }
  
  .footer {
    padding: 5px;
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed; /* Change to fixed */
    bottom: 0;
    width: 100%;
  }
  